# Home Instead Portal Credentials
SITE_URL=https://portal.uniqueiq.co.uk/Account/Login?ReturnUrl=%2f
USERNAME=your-email@example.com
PASSWORD=your-password

# Email configuration (comma-separated list for multiple recipients)
EMAIL_TO=recipient1@example.com, recipient2@example.com
EMAIL_FROM=sender@example.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
